<%= form_for @product do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :decription %><br>
    <%= form.text_field :decription %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.select :category_id, @categorys.collect {|c| [c.name, c.id]}, include_blank: false %>
  </p>
    <%= form.submit %>
  </p>

<% end %>
