
<p>
  <strong>id:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>decription:</strong>
  <%= @product.decription %>
</p>

<p>
  <strong>category:</strong>
  <%= @product.category.name %>
</p>


    <strong>image</strong>
    <% @product.photos.each do |p| %>
    <%= image_tag p.avatar.url(:thumb) %>
    <% end %>

<%= simple_form_for @comment,url: new_product_commnent_path do |f|%>
  <%= f.input :body ,as: :textarea %>



</br>

<%#= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
